html, body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000000;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
  color: #333333;
}
h2 {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 50px;
  color: #333333;
}
p {
  // font-style: normal;
  // font-weight: 300;
  // font-size: 18px;
  // line-height: 25px;
  margin: 30px 0;
  // letter-spacing: -0.01em;
  letter-spacing: -.034em;
}

.btn {
  padding: 12px 52px 13px 51px;
  outline: 0;
  border: 0;
  background: #FF6C6C;
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-feature-settings: 'swsh' on, 'cpsp' on, 'ordn' on, 'salt' on, 'ss01' on;
  color: #FFFFFF;
  cursor: pointer;
  transition-duration: .25s;
  &:hover {
    background: rgba(255, 108, 108, 0.75);
  }
}

.btn-round {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #333333;
  transition-duration: .25s;
  &:hover {
    color: #FF6C6C;
  }
}

.list {
  margin: 30px 0;
  padding: 0;
  li {
    position: relative;
    padding-left: 38px;
    list-style-type: none;
    margin-top: 20px;
    &:before {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      width: 8px;
      height: 8px;
      background: #01576C;
      border-radius: 50%;
    }
    p {
      margin: 0;
    }
    & > ul {
      margin: 0;
    }
  }
}

blockquote {
  position: relative;
  padding-left: 37px;
  margin: 58px 60px 48px 0px;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: -9px;
    left: -1px;
    width: 19px;
    height: 15px;
    background-image: url('/assets/images/blockquote.svg')
  }
  p {
    margin: 0;
  }
  footer {
    margin-top: 25px;
    strong {
      font-weight: 600;
    }
    small {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: -0.02em;
    }
  }
}

@import url('margins.less');
@import url('paddings.less');
@import url('media.less');