.footer {
  margin-top: 100px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  & > .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 988px;
    border-top: 1px solid #01576C;
    padding: 60px 0 56px;
  }
  @media screen and (max-width: 1439px) {
    & > .wrapper {
      max-width: 940px;
    }
  }
  @media screen and (max-width: 1023px) {
    & > .wrapper {
      max-width: 691px;
    }
  }
  @media screen and (max-width: 767px) {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    line-height: 22px;
    & > .wrapper {
      padding: 29px 0 36px;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
}
.footer__copyright {}
.footer__creator {
  a {
    color: #FF6C6C;
    font-weight: bold;
  }
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }
}