.slider {
  margin: 50px -168px 68px 0;
  .swiper-pagination {
    background-color: #fff;
    box-sizing: border-box;
    // padding-top: 21px;
    bottom: 0px;
    left: 0;
    width: 85px;
    height: 41px;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
  }
  .swiper-button-next, .swiper-button-prev {
    top: auto;
    left: auto;
    bottom: 2px;
    width: 40px;
    height: 40px;
    background-color: #FF6C6C;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/slider-arr.svg');
    transition-duration: .25s;
    &:after {
      display: none;
    }
    &:hover {
      background-color: rgba(255, 108, 108, 0.75);
    }
  }
  .swiper-button-next {
    right: 0px;
  }
  .swiper-button-prev {
    right: 50px;
    transform: rotate(180deg);
  }
}
.slider__item {}
.slider__item__image {
  img {
    // display: inline-block;
  }
}
.slider__item__text {
  margin: 15px 210px 5px 84px;
  // min-height: 56px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  p {
    margin: 0;
  }
}